<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html {
        -webkit-print-color-adjust: exact;
      }
    </style>
  </head>
  <body class="text-fuchsia-900 h-full">
    <div class="flex justify-between text-xl font-semibold">
      <div><%=month%> <%=year%></div>
      <div>WG-Kalender :)</div>
    </div>
    <table class="table-fixed w-full h-[95%]">
      <thead class="border-y border-fuchsia-800 text-sm">
        <tr>
          <th class="">Datum</th>
          <% for(var i = 0; i < people.length; ++i) {%>
            <th class="border-r border-fuchsia-800 <% if(i===0){ %>border-l-2<% } %>"><%=people[i]%></th>
          <% } %>
          <% for(var i = 0; i < extraCols.length; ++i) {%>
            <th class="border-l border-fuchsia-800 <% if(i===0){ %>border-l-2<% } %>"><%=extraCols[i]%></th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for(var d = 0; d < days.length; ++d) {%>
          <tr class="border-b border-gray-100 <% if(days[d].friday){ %>border-b-0<% } %> <% if(days[d].saturday){ %>bg-fuchsia-200 border-b-0<% } %> <% if(days[d].sunday){ %>bg-fuchsia-300 border-b-0<% } %>">
            <td class="border-r-2 border-fuchsia-800"><span class="font-semibold mr-2 ml-1"><%=days[d].DD%></span><span class="text-xs"><%=days[d].ddd%></span></td>
            <% for(var i = 0; i < people.length; ++i) {%>
              <td class="border-r border-fuchsia-800"></td>
            <% } %>
            <% for(var i = 0; i < extraCols.length; ++i) {%>
              <td class="border-l border-fuchsia-800 <% if(i===0){ %> border-l-2 <% } %>"></td>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>

  </body>
</html>